* {
	box-sizing: border-box;
}
html {
	font-family: sans-serif;
	font-size: 10px;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857;
	color: #f8f8f8;
	background-color: #111;
	margin: 0;
}
a {
	background-color: transparent;
	color: #8dc;
	text-decoration: none;
}
a:focus, a:hover {
	color: #8fc;
	text-decoration: underline;
}
h1 {
	font-size: 2em;
	margin: .67em 0;
}
img {
	border: 0 none;
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h4, h5, h6 {
	margin-top: 10px;
	margin-bottom: 10px;
}
h1 {
	font-size: 36px;
}
h2 {
	font-size: 30px;
}
h3 {
	font-size: 24px;
}
h4 {
	font-size: 18px;
}
h5 {
	font-size: 14px;
}
h6 {
	font-size: 12px;
}
p {
	margin: 0 0 10px;
}
.text-justify {
	text-align: justify;
}
ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: outside none none;
}
.nav::after {
	display: table;
	content: " ";
	clear: both;
}
.nav > li {
	position: relative;
	display: block;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
	border-bottom: 1px solid #333;
}
.nav > li > a:focus, .nav > li > a:hover {
	text-decoration: none;
	background-color: #171717;
	border-bottom: 1px solid #8fc;
}
.nav-tabs {
	border-bottom: 1px solid #333;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857;
}
.nav-tabs > li.active > a {
	cursor: default;
	border-bottom: 1px solid #8dc;
}
.modal-footer {
	text-align: right;
	border-top: 1px solid #333;
	padding: 15px;
}
#header h1 {
	font-family: monospace;
	font-size: 60px;
	font-weight: 700;
}
#icecast {
	width: 100%;
	height: 225px;
	border-width: 0;
}
pre {
	display: block;
	padding: 9.5px;
	margin: 0px 0px 10px;
	font-size: 13px;
	line-height: 1.42857;
	color: #eee;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #111;
	border: 1px solid #333;
}
code {
	padding: 2px 4px;
	font-size: 90%;
	color: pink;
	background-color: #111;
}
pre code {
	padding: 0px;
	font-size: inherit;
	color: inherit;
	white-space: pre-wrap;
	background-color: transparent;
}
code, pre {
	font-family: monospace;
}

/* print style, remove header and redundant stuff */
@media print {
	h1, h2, #header, #footer {
		display: none;
	}
	.container {
		width: auto !important;
	}
}
